{# apps/templates/main/index.html #}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include "shared/head.html" %}
    <title>GreatKart | One of the Biggest Online Shopping Platform</title>
</head>
<body>

    <!-- ============== SECTION HEADER ================ -->
    <header class="section-header">

        <!-- Header-top -->
        {% include "shared/header-top.html" %}
        <!-- Header-top -->

        <!-- Header-main -->
        {% include "shared/header-main.html" %}
        <!-- Header-main -->

    </header>
    <!-- ============== SECTION HEADER END ============ -->

    <!-- =============== SECTION BANNER =============== -->
    {% include "./inc/banner.html" %}
    <!-- ============== SECTION BANNER END ============ -->

    <!-- ============ SECTION CONTENT ================= -->
    {% include "./inc/content.html" %}
    <!-- ============ SECTION CONTENT END ============= -->

    <!-- ================ FOOTER ====================== -->
    {% include "shared/footer.html" %}
    <!-- ================ FOOTER END ================== -->
</body>
</html>