{% load static %}

<main class="col-md-9">
    <header class="border-bottom mb-4 pb-3">
        <div class="form-inline">
            <span class="mr-md-auto">32 Items found </span>
        </div>
    </header>
    <!-- sect-heading -->
    <div class="row">
        <!-- Product -->
        {% if products %}
            {% for product in products  %}
                <div class="col-md-4">
                    <figure class="card card-product-grid">
                        <div class="img-wrap"> 
                            <img src="{{product.images.url}}">
                        </div>
                        <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <div class="fix-height">
                                <a href="./product-detail.html" class="title">{{product.product_name|capfirst}}</a>
                                <div class="price-wrap mt-2">
                                    <span class="price">${{product.price}}</span>
                                    <del class="price-old">$1980</del>
                                </div>
                                <!-- price-wrap.// -->
                            </div>
                            <a href="#" class="btn btn-block btn-primary">Added to cart </a>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        {% endif %}
        

        <!-- Product end -->
    </div>
    <!-- row end.// -->
    
    <!-- Pagination -->
    {% include "./pagination.html" %}
    <!-- Pagination end -->
</main>