{% load static %}

<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
        </header>
        <!-- sect-heading -->
        <div class="row">
            {% if products %}
                {% for product in products  %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <a href="{{product.get_absolute_url}}" class="img-wrap"> <img src="{{product.images.url}}"> </a>
                            <figcaption class="info-wrap">
                                <a href="{{product.get_absolute_url}}" class="title">{{product.product_name|capfirst}}</a>
                                <div class="price mt-1">$ {{product.price}}</div>
                            </figcaption>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
            
        </div>
        <!-- row.// -->
    </div>
    <!-- container // -->
</section>